c/* Aplicamos un "reset" a todos los elementos para eliminar márgenes y paddings por defecto */
* {
    padding: 0;   /* Elimina el padding por defecto de todos los elementos */
    margin:0;     /* Elimina el margen por defecto de todos los elementos */
    box-sizing: border-box;   /* Incluye padding y borde dentro del ancho y alto de los elementos */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    --text : #0f0909;
}

/* Configuración base del tamaño de fuente del documento */
html {              
    font-size: 16px;    /* 1rem = 16px; facilita cálculos de tamaños relativos */
}

/* Estilos principales del body */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    /* Fuente principal con alternativas en caso de que no estén disponibles */
    background-color: #81d4f5;  /* Color de fondo oscuro */
    color: var(--text);  /* variable y Color del texto claro para buen contraste */
}

.header {
    max-width: 860px;   /* tamaño */
    margin: 0 auto;
    padding: 2rem 1.5rem;  
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}

h1 {

    font-size: 1.5rem;
    font-weight: 700;
    color: #130808;
}

.opciones-nav {
    display: flex;     /* flex permite alinear y diseñar elementos */
    background-color: rgb(0, 47, 255);
    border: 1px solid #393bb8;
    border-radius: 10px;
    padding: 0.25rem;
    max-width: 520px;
    margin: 0 auto 1.5rem;
}